*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    padding: 1rem;
    text-align: center;
}
.info{
    border: 1px solid;
    padding: 2rem;
    border-radius: 8px;
    background-color: rgb(243, 243, 178);
}
main {
    width: 70%;
    margin: 0 auto;
}

#btm{
   text-align: center;
}

#btm button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
}

#result {
    text-align: center;
    background-color: rgb(243, 243, 178);
    padding: 1rem;
    border-radius: 8px;
    border: solid 1px;
    width: 50%;
    margin: 0 auto;
    display: none;
}

footer{
    margin-top: 5rem;
    text-align: center;
    padding: 1rem;
}
